<table>
<ul>
<% @cart.lineitems.each do |item| %>
<tr>
<td><%= item.quantities %></td>
<td><%= item.product.Name %></td>
<td class="item_price"><%= number_to_currency(item.item_total_price, unit: "$") %></td>
</tr>
<% end %>
<tr class="total_line">
<td colspan="2">Total</td>
<td class="total_cell"><%= number_to_currency(@cart.total_price, unit: "$")%></td>
</tr>
</table>
<%= button_to 'Empty Cart', @cart, method: :delete, data: {confirm: 'Are you sure?'} %> 
</ul>